name: CI

on:
  workflow_dispatch:
     branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/ubuntu:latest
          
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Run command on remote server
        uses: appleboy/ssh-action@master #D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{secrets.SSH_HOST}}
          username: ${{secrets.SSH_USER}}
          key: ${{secrets.SSH_PRIVATE_KEY}}
          #fingerprint: ${{secrets.FINGERPRINT}}
          script: |
            cd ${{ secrets.PROJECT_FOLDER }};
            docker stop $(docker ps -aq)
            docker container rm $(docker ps -aq)
            docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
            docker run -d darksider499/ubuntu
        
  
      
